body { font-family: Arial, Helvetica, sans-serif; margin:
     0; padding: 10px;
      background-color: #444
     
    }

      header
      { background-color: 
        #333; 
        color: #fff; 
        padding: 20px 0; 
        text-align:
         center; } 
     nav { display: flex; justify-content: 
      center; background-color: #444; } 
     nav a { padding: 15px 20px; color: #fff; 
      text-align: center;
       text-decoration: none;
        margin: 0 10px; }
      nav a:hover { background-color: #555; }
       .container { padding: 20px; } 
       .section { margin: 21px 0; 
        padding: 20px; 
        background-color: #fff; 
        border-radius: 8px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
        footer { background-color: #333;
           color: #fff; 
           text-align: center; 
           padding: 12px 0; 
           position: fixed; 
           width: 100%; 
           bottom:
            3}
        a{
            text-decoration: none;
            background-color: white;
            color: #444;
            font-family: Arial, Helvetica, sans-serif;
        }